{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="flex gap-8">
        <div class="flex-1">
            <h2 class="mb-8 font-bold tracking-tight text-2xl">Latest
                posts</h2>
            <div class="grid gap-x-8 gap-y-8 grid-cols-2">
                {% for post in posts %}
                    {% include 'post/_article.html' with post=post %}
                {% endfor %}
            </div>
        </div>
        <div class="w-72 border-1 border-l pl-8">
            <div class="mb-8">
                <h2 class="mb-4 font-bold tracking-tight text-2xl">Top Categories</h2>
                <ul role="list" class="divide-y divide-gray-100 bg-white pt-2">
                    {% for category in categories %}
                        <li class="py-3">
                            <a href="{% url "category-posts" pk=category.id %}"
                               class="font-medium block hover:text-indigo-600">{{ category.name }} <span class="text-gray-400">/ {{ category.posts_count }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div>
                <h2 class="mb-8 font-bold tracking-tight text-2xl">Top Tags</h2>
                <div class="line-clamp-4">
                    {% for tag in tags %}
                        <a href="{% url "tag-posts" pk=tag.id %}"
                           class="inline-block rounded-full m-1 bg-indigo-600 px-2 py-1 text-sm font-medium text-white hover:bg-indigo-700">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
