{% extends 'layout.html' %}
{% block title %}403{% endblock %}
{% block content %}
    <div class="mx-auto h-full flex flex-col justify-center align-items-center max-w-2xl text-center">
        <h2 class="text-base font-semibold leading-7 text-indigo-600">Ooops!</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-700 sm:text-4xl">You're not allowed to make this</p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Quis tellus eget adipiscing convallis sit sit eget aliquet quis.
            Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In mi viverra elit nunc.</p>
    </div>
{% endblock %}
